build_and_push_multi.sh
*.code-workspace
containers/*/.venv
db.sqlite3
db.sqlite3-journal
*.egg
*.egg-info/
.eggs/
.env
env/
ENV/
env.bak/
.history
.idea
.idea/
.idea_modules/
*.iml
.installed.cfg
*.ipr
.ipynb_checkpoints
*.iws
.junie/
local_settings.py
*.log
media/
*.pot
*.pyc
*__pycache__/
__pycache__/
*.pyd
*.pyo
.venv
/.venv
venv/
venv.bak/
.vscode/
/.vscode
wireguard_webadmin/production_settings.py