version: '3'
services:
  wireguard-webadmin:
    image: eduardosilva/wireguard_webadmin:latest
    build:
      context: .

  wireguard-webadmin-cron:
    image: eduardosilva/wireguard_webadmin_cron:latest
    build:
      context: ./cron
      dockerfile: Dockerfile-cron

  wireguard-webadmin-dns:
    image: eduardosilva/wireguard_webadmin_dns:latest
    build:
      context: ./containers/dnsmasq
      dockerfile: Dockerfile-dnsmasq

  wireguard-webadmin-nginx:
    image: eduardosilva/wireguard_webadmin_nginx:latest
    build:
      context: .
      dockerfile: Dockerfile_nginx

  wireguard-webadmin-rrdtool:
    image: eduardosilva/wireguard_webadmin_rrdtool:latest
    build:
      context: ./containers/rrdtool
      dockerfile: Dockerfile-rrdtool

  wireguard-webadmin-cluster-node:
    image: eduardosilva/wireguard-webadmin-cluster-node:latest
    build:
      context: ./containers/cluster_node
      dockerfile: Dockerfile-cluster_node