asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
crispy-bootstrap4==2025.6
Django==5.2.5
django-crispy-forms==2.4
idna==3.10
pillow==11.3.0
pypng==0.20220715.0
pytz==2025.2
qrcode==8.2
requests==2.32.4
rrdtool-bindings==0.3.1
sqlparse==0.5.3
typing_extensions==4.14.1
urllib3==2.5.0
