anyio==4.12.1
asgiref==3.11.1
build==1.4.0
CacheControl==0.14.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
crispy-bootstrap4==2025.6
Django==5.2.11
django-crispy-forms==2.5
gunicorn==25.0.1
idna==3.11
msgpack==1.1.2
packaging==26.0
pillow==12.1.0
polib==1.2.0
pycparser==3.0
pypng==0.20220715.0
pyproject_hooks==1.2.0
pytz==2025.2
qrcode==8.2
requests==2.32.5
rrdtool-bindings==0.5.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.11.0
