{% extends "base_login.html" %}

{% block content %}

<div class="register-box">
    <div class="register-logo">
      <a href="/"><b>wireguard-webadmin</b></a>
    </div>
  
    <div class="card">
      <div class="card-body register-card-body">
        <p class="login-box-msg">Superuser created!</p>
  
        
          
          
          <div class="row">
            
            <div class="col-12">
              <a href="/accounts/login/" class="btn btn-primary btn-block">Proceed to login</a>
            </div>
          </div>
  
        
      </div>
      <!-- /.form-box -->
    </div><!-- /.card -->
  </div>
  <!-- /.register-box -->





  {% endblock %}
