{% extends "base.html" %}

{% block content %}
<h1>Welcome to wireguard_webadmin</h1>
    <p>I've been working hard on it over the past week and plan to continue making corrections and finishing it in the coming days.</p>
    <p>Currently, it's quite functional, but there's still a need to polish various aspects of the interface to enhance usability.</p>
    <p>If you encounter any issues or have suggestions, please open an issue on GitHub so I can review it.</p>
    <h2>TODO list</h2>
    <ul>
        <li>The DNS server provided to the peer is still hardcoded.</li>
        <li>AllowedIPs on client configuration side.</li>
        <li>Make Peer's last handshake permanent</li>
        <li>Setting for refresh interval in Peer list</li>
        <li>wireguard_webadmin Update notification</li>
    </ul>
    

    <p>Keep checking the GitHub page, I will be updating this project very soon.</p>

{% endblock %}
