{% extends "base.html" %}

{% block content %}

<h1>Welcome to WireGuard WebAdmin</h1>
<p>WireGuard WebAdmin is a web-based interface designed for managing WireGuard VPN, a remarkably simple, fast, and modern VPN that employs cutting-edge cryptography.</p>
<p>I have dedicated significant effort to this project over the past few weeks and am thrilled to announce that we are now close to version 1.0</p>

<br>
<h3>Upcoming Enhancements</h3>
<ul>
    <li>Implementing AllowedIPs in the client configuration.</li>
    <li>Improving "Pending changes" notification and separation (WireGuard from Firewall)</li>
</ul>

<p>Stay tuned to our GitHub page for imminent updates to this project.</p>


{% endblock %}
