{% extends "base.html" %}

{% block content %}

<div class='row'>
    <div class='col-lg-12'>    
<div class="card card-primary card-outline">
    <div class="card-header">
        <a href='/status/' class='btn btn-outline-primary'>wg show</a>
        <a href='/tools/export_wireguard_config/' class='btn btn-outline-primary'>Update Configuration</a>
        <a href='/tools/restart_wireguard/' class='btn btn-outline-primary'>Restart Wireguard service</a>
    </div>
    <div class="card-body">
        <div class='row'>
            <div class='col-md-12'>
                <pre>{{command_output}}</pre>

            </div>
        </div>
        
    </div>
</div>

</div>
</div>
<p style="text-align: right" class="small">
    This is just a placeholder for the WireGuard status page.  It will be updated with more information in the near future.
</p>

{% endblock %}
