{% extends "base.html" %}
{% load i18n %}
{% block content %}

<div class='row'>
    <div class='col-lg-6'>    
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">{% trans 'Access Denied' %}</h3>
    </div>
    <div class="card-body">
        <p>{% trans 'Sorry, you do not have permission to access this page.' %}<br>{% trans 'Please contact your system administrator if you believe this is an error.' %}</p>
    </div>
</div>

</div>
</div>

{% endblock %}
